/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

input {
  border: none;
}

ul {
  list-style-type: none;
}

/* reset */