html {
  background: rgb(240, 240, 240);
}


#TodoApp {
  margin: 0 auto;
  max-width: 404px;
  min-width: 320px;
  background-color: white;
  border: #D9D9D9 1px solid;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Inter", sans-serif;
}

